@charset "utf-8";


*, *::before, *::after {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-image:url(fon.jpg);
	background-position: center center; 
	background-attachment: fixed;
	background-color: #0B313B;
	-webkit-background-size:100% auto;
	-moz-background-size:cover; 
	-khtml-background-size:cover; 
	background-size:cover; 
	line-height: 1.3;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

/*  */

header {
	width:100%;
	height: 46px;
	margin-bottom: 50px;
}

/*===Menu===*/
nav {
	text-align:center;
    display: inline-block;
    vertical-align: middle;
	width:100%;
	position: fixed;
	z-index: 1000;
	background: #08232A;
	color: #fff;
	border-left: 1px solid #83E2D7;
	border-right: 1px solid #83E2D7;
}

nav ul {
	position: relative;
}

nav li {
	float: left;
}

nav li i {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	transition: background 1s;
	-webkit-transition: background 1s;
	font-size: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);    
	font-family: "Helvetica Neue", Helvetica, Arial;
	position: relative;
	cursor: pointer;
	border-right: 1px solid #83E2D7;
	border-left: 1px solid #83E2D7;
	margin-left: 5px;
	color: inherit;
	color: rgba(255,255,255, 0.5);  /* #777 */ 
}

.right-menu {
	position: absolute;
	right: 5px;
}

nav li i:hover {
	background: rgba(131,226,215, 0.2);
}
/*===Menu===*/

.container {
	display: block;
	width: 1000px;
	margin: 0 auto;
}

section {
	min-height: 555px;
}

section .content {
	float: left;
	width: 70%;
}

section .sidebar {
	float: left;
	width: 30%;
	height: 100%;
}

/*===footer===*/
footer {
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
	min-height: 40px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);    
	font-family: Comic Sans MS;
	color: #68CEEB;
	bottom: 0;
	background-color: rgba(0,0,0, 0.5);
}

.footer-text {
	width:50%;
	text-align: left;
	padding: 15px;
	padding-top: 16px;
	float: left;
}

.network {
	width:50%;
	text-align: right;
	padding: 10px;
	float: left;
} 

/*==icon==*/
.all-icon {
	margin: 10px; 
	font-size: 22px;
	color: skyblue;
	text-shadow: 1px 1px 5px rgba(0,0,0,9); 
}

.all-icon:hover {
	color: #fff;
}

.all-icon:active {
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,255,0,9); 
}
/*==icon==*/

/*===footer===*/

.clear {
	clear: both;
	opacity: 0;
}

/*===scrollbar===*/
::-webkit-scrollbar { width: 15px; height: 15px;}
::-webkit-scrollbar-button {  background-color: #08232A; }
::-webkit-scrollbar-button {  height: 40px; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color:  rgba(8,35,42, 0.9);}
::-webkit-scrollbar-thumb { height: 50px; background-color: #08232A; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #08232A; }
/*===scrollbar===*/