@charset "utf-8";

.content {
	padding: 5px;
	text-shadow: 1px 1px 1px #000;
}

.sidebar {
	padding: 5px;
	text-shadow: 1px 1px 1px #000;
}

/*=======Задания=======*/
.content > .mybox {
	width: 96%;
	min-height: 50px;
	margin-bottom: 40px;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

/* Задание */
.mission {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 5px;
	height: 100%;
	padding: 5px;
	width: 662px;
	position: relative;
	background-color: rgba(0,0,0, 0.5);
	box-shadow: 0px 0px 15px 1px #000000 ;  /* inset */
	color: #fff; /* cl */
}

.mis-inner {
	font-size: 15px;
}

/* Названеи задания */
.mis-name {
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #83E2D7;
	padding-bottom: 2.5px;
}

/* Само задание */
.mis-text {
	margin-top: 10px;
	padding-left: 2px;
}

/* Дата выпонения задания */
.mis-data {
	margin-top: 10px;
	font-size: 14px;
}

/* Кнопка "Выполнить!" */
button {
	border: 1px solid #000;
	border-radius: 5px;
	position: absolute;
	padding: 6px;
	bottom: 10px;
	right: 10px; 
	box-shadow: 0px 0px 15px 1px #000000 ;  /* inset */
	cursor: pointer;
	font-size: 16px;
	color: #83E2D7;
	background-color: #333;
	/* height 30px*/
}
button:hover {
	box-shadow: 1px 1px 10px 2px #000000 inset;
	border-radius: 1px;
}
button:active {
	background-color: #ddd;
	color: #000;
}
/*=======Задания=======*/


/*=======Профиль=======*/
.sidebar > .mybox {
	width: 100%;
	min-height: 520px;
	background-color: rgba(0,0,0, 0.5);
	box-shadow: 0px 0px 15px 1px #000000 ;  /* inset */
	color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 18px;
	position: relative;
	text-align: center;
	margin-bottom: 10px;
}

/* Юзер под должность */
.user-logo {
	position: relative;
	z-index: 10;
	width: 290px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 5px;
}

/* Юзер картинка */
.user-imager {
	min-height: 298px;
	width: 288px;
	background-position: center center; 
	-webkit-background-size:100% auto;
	-moz-background-size:cover; 
	-khtml-background-size:cover; 
	background-size:cover; 
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Юзер никнейм */
.user-nickname {
	position: relative;
	min-height: 60px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 22px;
	padding-top: 15px;
	margin-bottom: 5px;
	border-top: 1px solid #68CEEB;
	border-bottom: 1px solid #68CEEB;
	text-shadow: 1px 1px 5px rgba(0,0,0,9); 
	/*background-color: rgba(255,255,255, 0.3); */
}

/* Юзер лвл, поинты */
.user-sell {
	position: relative;
	min-height: 50px;
	width: 100%;
	padding-left: 10px;
	padding-right: 5px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #68CEEB;
}
/*=======Профиль=======*/


.box-xp > span {
	bottom: -3.3px;
}
.lvl {
     padding-top: 2px;
}


/* button-redactor */
#redaction-but {
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	transition: all 0.8s ease;
}

#redaction-but:hover {
	text-shadow: 1px 1px 5px #000;
	color: #00FF00;
}

#redaction-but:active {
}